<div class="container-signup">
  <div class="col-md-6">
    <div class="col-md-12">
      <h1>Login</h1>
    </div>

    <%= form_tag '/login', method: :post do %>

    <div class="form-row">
      <div class="form-group col-md-12">
        <%= label_tag :email %>
        <%= text_field_tag :email, nil, class: 'form-control'%>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-12">
        <%= label_tag :password %>
        <%= password_field_tag :password, nil, class: 'form-control' %>
      </div>
    </div>

    <div class="form-row col-md-12 float-right">
    <%= submit_tag "Submit", class: 'btn btn-info btn-submit'%>
    </div>

    <%end%>
  </div>
</div>