<div class="container">
  <% flash.each do |key, value| %>
    <div class="<%= flash_class(key) %>">
      <%= value %>
    </div>
  <% end %>

  <%= yield %>
</div>

<div class="container-signup">
  <div class="col-md-6">
    <div class="col-md-12">
      <h2> Create Account</h2>
    </div>
    <%=form_tag '/users', method: :post do%>
      <div class="form-row">
        <div class="form-group col-md-6">
          <%= label_tag :first_name%>
          <%= text_field_tag :first_name, nil, class: 'form-control'%>
        </div>
        <div class="form-group col-md-6">
          <%= label_tag :last_name%>
          <%= text_field_tag :last_name, nil, class: 'form-control'%>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-12">
          <%= label_tag :email%>
          <%= text_field_tag :email, nil, class: 'form-control'%>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <%= label_tag :password%>
          <%= password_field_tag :password, nil, class: 'form-control'%>
        </div>
        <div class="form-group col-md-6">
          <%= label_tag :password_confirmation%>
          <%= password_field_tag :password_confirmation, nil, class: 'form-control'%>
        </div>
      </div>

      <div class="form-row col-md-12 float-right">
        <%= submit_tag 'Sign Up', class: 'btn btn-info btn-submit'%>
      </div>

    <%end%>
  </div>
</div>