<section class=orders-show>

  <header class=page-header>
    <h1>Order #<%= @order.id %></h1>
    <h4>by <%= @order.email %></h4>
  </header>

  <div class="order-summary jumbotron">
    <table class="table table-bordered table-hover">
      <thead class="thead-dark">
        <tr>
          <th colspan="2" scope="col">Product</th>
          <th scope="col">Unit Price</th>
          <th scope="col">Quantity</th>
          <th scope="col">Price</th>
        </tr>
      </thead>

      <tbody>
        <% @ar_order.each do |line| %>
          <%= render 'item', product: line.product, quantity: line.quantity.to_i %>
        <% end %>
      </tbody>

      <tfoot>
        <tr>
          <th colspan="4">
            TOTAL:
          </th>
          <th>
            <%= humanized_money_with_symbol @order.total_cents / 100.0 %>
          </th>
        </tr>
      </tfoot>
    </table>
  </div>

  <%= link_to "Continue Shopping", root_path, class: 'btn btn-lg btn-primary' %>

</section>

